.video{
    height: 273px;
    width: 1500px; 
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}
h2{
    text-align: center;
    font-family: cursive;
    color: rgba(255, 255, 255, 0.686);
    margin-left: 49px;
    font-size: 35px;
}
#subtitle{
    text-align: center; 
    font-family: cursive; 
    font-size: larger; 
    
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 45px;

}

.basicintro{
    margin: 40px;
    border: 20px;
    padding: 20px;
    margin-left: 220px;
    margin-right: 220px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
.acc-btn {
    cursor: pointer;
    width: 100%;
    height: 35px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    color: var(--text-dark-color);
    font-size: 2.2rem;
    margin-top: 10px;
    border-radius: 20px;


  }

  .acc-btn:after {
    content: "X";
    font-size: 2.0rem;
    transition: 0.50s;
    font-family: cursive;
    border-radius: 20px;
  }

  .acc-btn span {
    display: flex;
    border-radius: 20px;
    
  }
  .acc-btn span i {
    font-size: 3.2rem;
    margin-right: 16px;
    border-radius: 20px;
  }
  .acc-btn:hover {
    background-color: gray;
    border-radius: 20px;
  }
  details[open] > .acc-btn::after {
    transform: rotate(45deg);
    border-radius: 20px;
  }

  .acc-content {
    width: 98%;
    padding: 20px 20px 20px 40px;
    background-color: gray;
    border-top: 1px solid rgb(92, 92, 92);
    color: var(--text-dark-color);
    border-radius: 20px;
  }
  .acc-content li {
    padding: 8px 0;
    line-height: 1.6;
  }
  .acc-content li strong {
    margin-right: 8px;
  }
  #time-line {
    width: 100%;
    margin: 48px 0 var(--margin-m) 0;
  }
  #tribute-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    margin-bottom: var(--margin-xl);
    margin-left: 382px;
  }

  li{
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
  }
  p{
    color: black;
    font-size: larger;
    text-align: center;
    font-family: cursive;
  }

  a{
    color: white;
  }
  a:hover{
    color: white;
    font-size: larger;
  }
  span{
    font-family: cursive;
    text-align: center;
    place-items: center;
    font-size: 30px;
  }



